body {
  margin: 0;
  font-size: 12px;
  font-family: arial;
}

img {
  height: 20em;
  width: 20em;
  -webkit-transition: 2s;
  border: 1px solid white;
  border-radius: 50%;
}

img:hover {
  -webkit-transform: scale(2);
  -webkit-transition: 2s;
}

#top-page {
  height: 90vh;
  width: 100vw;
  background: black;
}

#banner {
  height: 10vh;
  width: 100vw;
  background: yellow;
}

#bottom-page {
  height: 90vh;
  width: 100vw;
  background: black;
}

#menu {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  text-align: center;
  top: 4vh;
  left: 10vw;
  height: 5vh;
  width: 80vw;
}
#menu > span {
  color: white;
  font-size: 3vw;
  padding: 0px 5vw;
}
