@media (min-width: 320px){
  html{
    font-size:3px;
  }
}

@media (min-width: 600px){
  html{
    font-size: 5px;    
  }
}

body {
  margin: 0;
  font-family: arial;
}

img {
  height: 20em;
  width: 20em;
  -webkit-transition: 2s;
  border: 1px solid white;
  border-radius: 50%;
}

img:hover {
  -webkit-transform: scale(2);
  -webkit-transition: 2s;
}

a {
  color: white;
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}

#top-page {
  height: 90vh;
  width: 100vw;
  background: black;
}

#banner {
  height: 10vh;
  width: 100vw;
  background: black;
  border-bottom: 1px solid rgb(6,120,155);
}

#bottom-page {
  height: 90vh;
  width: 100vw;
  background: black;
}

#menu {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  text-align: center;
  top: 4vh;
  left: 10vw;
  height: 5vh;
  width: 80vw;
}
#menu > span {
  color: white;
  font-size: 5rem;
  padding: 0px 5vw;
  /*text-shadow: 1px 1px 1px black;*/
 /* text-shadow: 1px 1px 30px rgb(6,120,155);*/
}

article {
  padding-top: 20px;
  color: white;
  text-align: center;
  font-size: 4rem;
}
