/* app css stylesheet */
body {
  margin: 0;
  background: #181515;
  background-color: white;
}

.head {
  position: fixed;
  top: 0;
  width: 100%;
  height: 35px;
  border-bottom: 1px solid white;
  background-color: rgba(24, 21, 21, 0.8);
  font-family: 'Audiowide', cursive;
}

.logo {
  color: white;
  font-weight: bold;
  float: left;
  padding-left: 5px;
  height: 35px;
  line-height: 35px;
}
.logo > a {
  color: white;
  text-decoration: none;
}

.contact {
  float: right;
  padding-right: 5px;
  margin: 0;
  list-style: none;
  line-height: 35px;
}
.contact > li {
  display: inline;
  padding-right: .3em;
}
.contact > li > a {
  color: white;
  text-decoration: none;
}
.contact > li:before {
  content: "|";
  color: white;
  padding-right: 0.5em;
}.contact > li:nth-child(1):before {
  content: "";
  padding: 0;
}


.menu {
  display: inline-block;
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}
.menu:before {
  content: "[";
}
.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
.menu li a {
  color: white;
}

.main-container {
  padding: 35px 0 20px;
  position: fixed;
  width: 100%;
  height: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sidebar {
  position: relative;
  width: 20%;
  height: 100%;
  /*background-color: red;*/
  display: inline-block;
  vertical-align: top;
}

.content {
  width: 80%;
  height: 100%;
  display: inline-block;
  /*background-color: blue;*/
  margin: 0;
  vertical-align: top;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  /*border-top: 1px solid black;*/
}

.footer-content {
  position: relative;
  width: 100%;
  height: 20px;
}

#rightbar {
  right: 0px; top: 0px;
}

#footerbar {
  left: 0px; top: 0px;
}

.border { 
  position: absolute;
}

.borderh {
  height: 0px;
  border-top: 1px solid black;
}

.borderv { 
  width: 0px;
   border-right: 1px solid black; 
}