<div id="top-page">
</div>
<div id="bottom-page">
</div>




<!-- <div class="med-container">
  <div class="small-container top left">
    <div class="border borderv" id="top-left-rightbar"></div>
    <div class="border borderh" id="top-left-bottombar"></div>
    <img src="./images/ammo.png">
  </div>
  <div class="small-container top right">
    <div class="border borderv" id="top-right-leftbar"></div>
    <div class="border borderh" id="top-right-bottombar"></div>
    <img src="./images/uptime.png">
  </div>
</div>

<div class="med-container">
  <div class="small-container bottom left">
    <div class="border borderv" id="bottom-left-rightbar"></div>
    <div class="border borderh" id="bottom-left-topbar"></div>
    <img src="./images/acompli.png">
  </div>
  <div class="small-container bottom right">
    <div class="border borderv" id="bottom-right-leftbar"></div>
    <div class="border borderh" id="bottom-right-topbar"></div>
    <img src="./images/connectMe.png">
  </div>
</div> -->


